<?xml version="1.0"?>
<config>
	<global>
		 <fieldsets>
				 <sales_convert_quote_item>
						 <custom_attribute_column>
								 <to_order_item>*</to_order_item>
						 </custom_attribute_column>
				 </sales_convert_quote_item>
		 </fieldsets>
		 <resources>
				 <cir_catalog_setup>
							<setup>
									<module>CIR_Catalog</module>
									<class>Mage_Sales_Model_Mysql4_Setup</class>
							</setup>
				 </cir_catalog_setup>
		 </resources>
		 <models>
					<cir_catalog>
							 <class>CIR_Catalog_Model</class>
					</cir_catalog>
		 </models>
		 <events>
					<checkout_cart_product_add_after>
							 <observers>
										<cir_catalog_checkout_cart_product_add_after>
												 <type>model</type>
												 <class>CIR_Catalog_Model_Observer</class>
												 <method>checkoutCartProductAddAfter</method>
										</cir_catalog_checkout_cart_product_add_after>
							 </observers>
					</checkout_cart_product_add_after>
		 </events>
		<models>
			<circatalog>
				<class>CIR_Catalog_Model</class>
			</circatalog>
		</models>
	    	<!-- Events -->
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<!-- Change radiator price -->
					<cir_catalog_price_observer>
						<type>singleton</type>
						<class>CIR_Catalog_Model_Price_Observer</class>
						<method>applyRadiatorPrice</method>
					</cir_catalog_price_observer>
					<!-- Change radiator name -->
					<cir_catalog_name_observer>
						<type>singleton</type>
						<class>CIR_Catalog_Model_Name_Observer</class>
						<method>applyRadiatorName</method>
					</cir_catalog_name_observer>
				</observers>
			</checkout_cart_product_add_after>
		</events>
	</global>
</config>