<?xml version="1.0"?>
<config>
  <global>
    <models>
        <circatalog>
          <class>CIR_Catalog_Model</class>
        </circatalog>
    </models>
    <events>
      <sales_quote_add_item>
        <observers>
          <cir_catalog_price_observer>
            <type>singleton</type>
            <class>CIR_Catalog_Model_Price_Observer</class>
            <method>calculate_radiator_price</method>
          </cir_catalog_price_observer>
        </observers>
      </sales_quote_add_item>
    </events>
  </global>
</config>