<?xml version="1.0"?>
<config>
    <modules>
        <skDEVMods_ExtraConfig>
            <version>1.0.0</version>
        </skDEVMods_ExtraConfig>
    </modules>
    <global>
        <models>
            <skdevmods_extraconfig>
                <class>skDEVMods_ExtraConfig_Model</class>
            </skdevmods_extraconfig>
        </models>
        <resources />
        <extraconfig />
        <blocks />
    </global>
</config>