.news-block{
background: #fff; padding: 10px;
}
.news-block .title{
padding: 0px; margin: 0px 0px 7px 0px;    font-size: 14px; color: #2F2F2F;
}
.news-block .desc{
padding: 0px; margin: 0px 0px 7px 0px;    font-size: 12px; color: #2F2F2F;
}
.news-block a, .news-block p{
display: inline;
}
.news-block a{color: #E26703; padding-left: 5px; font-weight: bold; text-decoration: none;
}

.news-extra-block{

}

.news-extra-block .block-title strong {
background-image: url("../../images/i_block-subscribe.gif")
}
.news-extra-block .block-content a{
 color: #777777;  font-weight: bold; text-decoration: none; font-size: 12px;
}