/**
* Website name here
* Website URL here
*
* @author Author name here
* @package mypackagename_default
*
*/

// compass
// --------------------------------------------------
@import "compass/css3";

// bootstrap
// --------------------------------------------------
@import "../node_modules/bootstrap/dist/css/bootstrap";

// entypo icons
// --------------------------------------------------
@import "vendor/entypo";

// modules
// --------------------------------------------------
@import "modules/variables",
   "modules/mixins",
   "modules/functions";

// partials
// --------------------------------------------------
@import
	"partials/grid",
	"partials/layout",
	"partials/header",
	"partials/footer",
	"partials/navigation",
	"partials/global",
	"partials/blocks",
	"partials/content",
	"partials/forms",
	"partials/messages",
	"partials/prices",
	"partials/sidebar",
	"partials/tables",
	"partials/toolbar",
	"partials/tools",
	"partials/clears";

// sections
// --------------------------------------------------
@import "sections/home/main",
   "sections/category/main",
   "sections/product/main",
   "sections/cart/main",
   "sections/checkout/main",
   "sections/account/main";

// MY STYLES
// --------------------------------------------------

$c-grey: #BBB;

.header-container {
	#header-top {
		.links {
			border-bottom: 1px dashed $c-grey;
			float: left;
			font-size: 12px;
			letter-spacing: 1px;
			padding: 10px 0;
			text-transform: uppercase;
			width: 100%;
			ul { margin-bottom: 0; }
		}
	}
	#header-middle {
		h1, h3 {
			img {
				max-width: 100%;
			}
		}
	}
}

/* Homepage */
#homepage {
	background: url("../images/photos/hp_background.jpg") 0 0 no-repeat;
	background-size: cover;
	color: #FFF;
	min-height: 600px;
	margin: -50px 0 -25px;
	.std {
		padding: 140px 0;
		.jumbotron {
			text-shadow: 1px 1px 1px #000;
			background: rgba(0,0,0,0.5);
			margin-top: 50px;
			h2 {
				small {
					color: #FFF;
				}
			}
			p {
				font-size: 16px;
			}
		}
		/* Tweets Block */
		.block-creare-twitter {
			margin-top: 50px;
			padding: 26px 0px;
			ul li.item {
				padding-left: 0;
			}
		}
	}
}

footer {
	&.container-fluid {
		background: #333;
		margin-top: 25px;
	}
	.footer-content {
		color: #FFF;
		font-family: $fontBase;
		font-size: 12px;
		.entypo, .entypo-social { color: #777; }
		.entypo-social {
			display: inline-block;
			margin-right: 2px;
			text-align: center;
			width: 12px;
		}
		h3 { color: $orange; }
	}
}

/* Menu Fix */
.navbar {
  .dropdown:hover .dropdown-menu {
	 display: block;
   }
}

/* Boostrap Grid */
.container-fluid { padding: 0 !important; }

/* Menu Search */
.search-form-container {

	position: relative;

	#search_mini_form {
		left: 0;
		margin-left: 25px;
		position: absolute;
		top: 0;
		width: 300px;
		button {
			margin-left: 10px;
		}

	}

	@include device(small) {
		#search_mini_form {
			padding: 0;
			margin: 0;
			left: 50px;
			input {
				float: left;
				width: 150px;
			}
		}
	}
}