/**
* Website name here
* Website URL here
*
* @author Author name here
* @package mypackagename_default
*
*/

// compass
// --------------------------------------------------
@import "compass/css3";

// bootstrap
// --------------------------------------------------
@import "../node_modules/bootstrap/dist/css/bootstrap";


// modules
// --------------------------------------------------
@import "modules/variables",
   "modules/mixins",
   "modules/functions";

// partials
// --------------------------------------------------
@import
     "partials/grid",
     "partials/layout",
     "partials/header",
     "partials/footer",
     "partials/navigation",
     "partials/global",
     "partials/blocks",
     "partials/content",
     "partials/forms",
     "partials/messages",
     "partials/prices",
     "partials/sidebar",
     "partials/tables",
     "partials/toolbar",
     "partials/tools",
     "partials/clears";

// sections
// --------------------------------------------------
@import "sections/home/main",
   "sections/category/main",
   "sections/product/main",
   "sections/cart/main",
   "sections/checkout/main",
   "sections/account/main";

// MY STYLES
// --------------------------------------------------

$c-grey: #BBB;

.header-container {
     #header-top {
          .links {
               border-bottom: 1px dashed $c-grey;
               float: left;
               font-size: 12px;
               letter-spacing: 1px;
               padding: 10px 0;
               text-transform: uppercase;
               width: 100%;
               ul { margin-bottom: 0; }
          }
     }
}

footer {
     .footer-content {
          background: #333;
          color: #FFF;
          padding: 20px 20px 0 20px;
     }
}