// fonts
// --------------------------------------------------
$fontBase:          'Helvetica Neue', Helvetica, Arial, sans-serif;

// colors
// --------------------------------------------------
$colorWhite:        #fff;
$orange: #FFA248;

// tools
// --------------------------------------------------
$alignCenter:       center;
$alignLeft:         left;
$alignRight:        right;
$alignTop:          top;
$alignBottom:       bottom;
$alignMiddle:       middle;
