// fonts
// --------------------------------------------------
$fontBase:          'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontBase2:         Menlo, Monaco, Consolas, "Courier New", monospace;
$fontBase3:         Georgia, "Times New Roman", Times, serif;

// colors
// --------------------------------------------------
$colorWhite: #fff;

$brandPrimary:         #428bca;
$brandSuccess:         #5cb85c;
$brandInfo:            #5bc0de;
$brandWarning:         #f0ad4e;
$brandDanger:          #d9534f;

$orange: $brandWarning;
// tools
// --------------------------------------------------
$alignCenter:       center;
$alignLeft:         left;
$alignRight:        right;
$alignTop:          top;
$alignBottom:       bottom;
$alignMiddle:       middle;
