// fonts
// --------------------------------------------------
$fontBase:          'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontBase2:         Menlo, Monaco, Consolas, "Courier New", monospace;
$fontBase3:         Georgia, "Times New Roman", Times, serif;

// colors
// --------------------------------------------------
$colorWhite:        #fff;
$orange: #FFA248;

// tools
// --------------------------------------------------
$alignCenter:       center;
$alignLeft:         left;
$alignRight:        right;
$alignTop:          top;
$alignBottom:       bottom;
$alignMiddle:       middle;
