// Category
// --------------------------------------------------
.category-image	{ 
	background-position: top center; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	margin: 0 0 25px; 
	width: 100%; 
	figcaption {
		height: 400px;
		position: relative;
		h3 {
			background: $orange;
			bottom: 0;
			font-size: 3em;
			font-weight: bold;	
			padding: 10px 20px;
			position: absolute;
			right: 0;
		}
	}
}

.category-description { 
	margin:0 0 10px;
}


// View Type: Grid
// --------------------------------------------------
.products-grid { 
	position:relative; 

	li.item { 
		border: none;
		text-align: center;
		padding:12px 0 50px; 
		height: 380px;
		// margin-left: 15px;

		.price-box {
			.old-price, 
			.special-price {
				display: inline-block;
			}
		}

		&.first { 
			padding-left: 0;
		}
		
		&.last { 
			padding-right: 0;
		}	
	}

	.product-image { 
		display:block; 
		// height:200px; 
		margin:0 0 10px; 
		position:relative;
		.hover-available {
			bottom: 0;
			right: 15px;
			position: absolute;
		}		
	}
	
	.product-name { 
		a { color: #444; }
		display: inline-block;		
		font-family: Baskerville, $fontBase;
		font-size: 14px;
		font-weight: 700;
		height: 35px;
		line-height: 18px;
		margin: 0 5px 5px 5px;
		text-align: center;
		text-transform: uppercase;
		width: 80%;
	}

	.price-box { 
		color: #999;
		display: inline-block;
		margin:5px 0 10px;
		padding: 0 10px;
		position: relative;
		text-transform: uppercase;
		&:before, &:after {
			border-bottom: 1px solid #ABABAB;
			content: "";
			display: inline-block;
			position: absolute;
			top: 10px;
			width: 40px;
		}
		&:before {
			right: 100%;
		}
		&:after {
			left: 100%;
		}		
	}

	.number-of-models {
		text-align: center;
		span {
			border: 1px solid #ababab;
			color: #999;
			font-size: 11px;
			padding: 3px 5px;
			text-transform: uppercase;
		}
	}

	.availability { 
		line-height:21px;
	}
	
	.actions { 
		position:absolute; 
		bottom:12px;
		width: 100%;
	}
}


// View Type: List
// --------------------------------------------------
.products-list { 
	float:left; 

	li.item { 
		padding:12px 0px;
		
		&.last { 
			border-bottom:0;
		}
	}

	.product-image { 
		float:left; 
		width:135px; 
		height:135px; 
		margin:0 0 10px; 
	}
	
	.product-shop { 
		margin-left:150px;
	}
	
	.product-name { 
		margin:0 0 5px; 
		font-weight:bold; 
		font-size:13px; 
	}

	.price-box { 
		float:left; 
		margin:3px 13px 5px 0;
	}

	.availability { 
		float:left; 
		margin:3px 0 0;
	}
	
	.desc { 
		clear:both; 
		padding:6px 0 0; 
		margin:0 0 15px; 
		line-height:1.35; 

		.link-more { 
			font-size:11px;
		}
	}
	
	.add-to-links { 
		clear:both;

		li { 
			display:inline;
		}

		.separator { 
			display:inline; 
			margin:0 2px;
		}
	}
}