<?xml version="1.0"?>
<config>
    <modules>
        <skDEVMods_ExtraConfig>
            <version>0.1.0</version>
        </skDEVMods_ExtraConfig>
    </modules>
    <global>
        <models>
            <skdevmods_extraconfig>
                <class>skDEVMods_ExtraConfig_Model</class>
            </skdevmods_extraconfig>
        </models>
    </global>
    <default>
        <tab1>
            <general>
                <facebook_field></facebook_field>
            </general>
        </tab1>
    </default>    
</config>