<?xml version="1.0"?>
<config>
    <modules>
        <Biztech_News>
            <version>0.1.2</version>
        </Biztech_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Biztech_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Biztech_News>
                    <files>
                        <default>Biztech_News.csv</default>
                    </files>
                </Biztech_News>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <news>
                <use>admin</use>
                <args>
                    <module>Biztech_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <news module="news">
                <title>News</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="news">
                        <title>Manage News</title>
                        <sort_order>0</sort_order>
                        <action>news/adminhtml_news</action>
                    </items>
                </children>
            </news>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Biztech_News>
                            <title>News Module</title>
                            <sort_order>10</sort_order>
                        </Biztech_News>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <news>
                                            <title>News</title>
                                        </news>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Biztech_News>
                    <files>
                        <default>Biztech_News.csv</default>
                    </files>
                </Biztech_News>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <news>
                <class>Biztech_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>Biztech_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                    <newsdata>
                        <table>news_data</table>
                    </newsdata>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Biztech_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>Biztech_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Biztech_News_Helper</class>
            </news>
        </helpers>
    </global>
    <default>
        <news>
            <news_general>
                <news_list_page_layout>1column</news_list_page_layout>
                <news_detail_page_layout>1column</news_detail_page_layout>
            </news_general>
        </news>
    </default>
</config>