// Messages
// --------------------------------------------------
.success {
	font-weight:bold;
}

.error {
	font-weight:bold;
}

.messages,
.messages ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}

.messages {
	width:100%;
	overflow:hidden;

	li {
		margin:0 0 10px !important;

		li {
			margin:0 0 3px !important;
		}
	}
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
	padding:15px !important;
}

.error-msg {
	background-color:#F2DEDE;
}

.success-msg {
	background-color:#DFF0D8;
}

.note-msg,
.notice-msg {
	background-color:#D9EDF7;
}