// Messages
// --------------------------------------------------
.success {
	font-weight:bold;
}

.error {
	font-weight:bold;
}

.messages,
.messages ul {
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;
}

.messages {
	width:100%;
	overflow:hidden;
	font-size: 12px;

	li {
		margin:0 0 10px !important;

		li {
			margin:0 !important;
		}
	}
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
	padding:10px 15px !important;
}

.error-msg {
	background-color: lighten($brandDanger, 15%);;
}

.success-msg {
	background-color: lighten($brandSuccess, 15%);;
}

.note-msg,
.notice-msg {
	background-color: lighten($brandInfo, 15%);
}