// Toolbar
// --------------------------------------------------


// Pager
// --------------------------------------------------
.pager { 
	font-size:11px;  
	padding:4px 8px; 
	text-align:center;

	.amount { 
		float:left; 
		margin:0;
	}

	.limiter { 
		float: left;
		margin-left: 15px;
		label { 
			vertical-align:middle;
			margin-bottom: 0;
		}	
	}

	.pages { 
		margin:0 140px;
		
		ol { 
			display:inline;
		}
		
		li { 
			display:inline; 
			margin:0 2px;
		}
	}
}


// Sorter
// --------------------------------------------------
.sorter {
	font-size:11px;
	padding:3px 0px;
	float: left;

	.view-mode { 
		float:left; 
		margin:0 15px 0 0;
	}
	
	.sort-by { 
		float:right; 
		label { 
			vertical-align:middle;
			margin-bottom: 0;
		}
	}
}


// Toolbar
// --------------------------------------------------
.toolbar { 
	clear: both;
	line-height: 20px;
	margin-bottom: 15px;

	.pager { 
		margin: 0;
		padding:3px 0px;
	}
}